/* ----------------- Main Body Styling  ----------------- */
@import url('https://fonts.googleapis.com/css?family=Merriweather|Nunito&display=swap');

:root {
    --pb: red;
    --sb: green;
    --tb: blue;
    --m: 'Merriweather';
    --n: 'Nunito';
}

#main {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: var(--n, sans-serif);
    font-size: 2.5vh;
}

/* ----------------- Header Styling  ----------------- */
#title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--pb); */
}
#heading {
    font-family: var(--m, serif);
    /* background-color: var(--sb); */
    margin: auto;
}
#subtitle {
    /* background-color: var(--tb); */
    margin: auto;
}

/* ----------------- Figure Styling  ----------------- */
/* #img-div {
    
} */

#image {
    width: 90%;
}