/* ----------------- Main Body Styling  ----------------- */
@import url('https://fonts.googleapis.com/css?family=Merriweather|Nunito&display=swap');

:root {
    --pb: hsl(0. 100%, 50%);
    --sb: hsl(60. 100%, 50%);
    --tb: hsl(120. 100%, 50%);
    --m: 'Merriweather';
    --n: 'Nunito';
}

#main {
    width: 90%;
    margin: auto;
    display: grid;
    grid-area: 1/1/6/6;
    font-family: var(--n, sans-serif);
    font-size: 2.5vh;
}

/* ----------------- Header Styling  ----------------- */
#title {
    grid-area: 1/3/2/4;
}
#heading {
    font-family: var(--m, serif);
}


/* ----------------- Figure Styling  ----------------- */
#img-div {
    grid-area: 2/2/3/5;
}

#image {
    width: 90%;
}